*.gem
.bundle
.config
InstalledFiles
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
Gemfile.lock
.settings
vendor/ruby
zrc-*
packaging/traveling-*
packaging/vendor/
